# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (only needed if you use 'go mod vendor')
vendor/

# Local environment files (contains secrets, etc.)
.env

# Go workspace file
go.work
go.work.sum

# IDE specific files
.idea/
.vscode/
*.swp

.DS_Store
